@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
/* === common css start */

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* === common css end */
/* === navbar css start === */
nav{
    background: #FFD700;
}

nav ul li {
    padding-right: 35px;
}

nav ul li a{
    color: #fff !important;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -ms-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
}

nav ul li a:hover {
    color: #222 !important;
}

nav button {
    font-family: 'Lato', sans-serif;
    font-size: 22px !important;
    font-weight: 400 !important;
    transition: all ease-in-out .4s !important;
    -webkit-transition: all ease-in-out .4s !important;
    -moz-transition: all ease-in-out .4s !important;
    -ms-transition: all ease-in-out .4s !important;
    -o-transition: all ease-in-out .4s !important;
}

nav .btn {
    padding: .375rem 1.50rem;
}

nav button:hover{
    background: transparent !important;
    color: #000 !important;
}


/* === navbar css end === */

/* === banner css start === */
#banner_part {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    

}

#banner_part .overlay {
    width: 100%;
    height: 100%;
    background: rgba(2, 44, 67,.7);
    padding: 103px 0 157px 0;
}

#banner_part .text {
    width: 50%;
}

#banner_part .text h2{
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    width: 300px;
    text-align: left;
    padding-top: 75px;
}

#banner_part .text h3{
    font-family: 'Lato', sans-serif;
    font-size: 33px;
    font-weight: 400;
    color: #FFD700;
    margin-top: 10px;
    padding-bottom: 35px;
}

#banner_part .text a{
    display: inline-block;
    padding: 8px 25px;
    background: #FFD700;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#banner_part .img {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: right;
}

#banner_part .img .half {
    position: absolute;
    top: 0;
    left: 28%;
}

#banner_part .img .off {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-26%,-50%);
    -webkit-transform: translate(-26%,-50%);
    -moz-transform: translate(-26%,-50%);
    -ms-transform: translate(-26%,-50%);
    -o-transform: translate(-26%,-50%);
}

#banner_part .img .off h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 92px;
    font-weight: 800;
    color: #fff;
    line-height: 50px
}

#banner_part .img .off h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 92px;
    font-weight: 800;
    color: #000;
    padding-left: 130px;
    ;
}

/* === banner css end === */

/* === banner_bottom css start === */

#banner_bottom .round {
    background: #fff;
    padding: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#banner_bottom .round{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: 5px 13px 29px 0px rgba(0,0,0,0.17);
-webkit-box-shadow: 5px 13px 29px 0px rgba(0,0,0,0.17);
-moz-box-shadow: 5px 13px 29px 0px rgba(0,0,0,0.17);
width: 1025px;
margin: 0 auto;
}

#banner_bottom .round h3 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

#banner_bottom .round .item {
    width: 675px;
    margin: 0 auto;
    padding-top: 20px;
}

#banner_bottom .round .item .img{
    text-align: center;
    cursor: pointer;
}

#banner_bottom .round .item h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}


/* === banner_bottom css end === */

/* === best css start === */

#best_part {
    padding-bottom: 60px;
}

#best_part .text h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

#best_part .text h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #707070;
}

#best_part .item {
    padding-top: 20px;
    text-align: center;
}

#best_part .item .img {
    text-align: left;
}

#best_part .item h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-weight: 800;
    margin-top: 5px;
    padding-right: 60px;
}

#best_part .item h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #707070;
    margin-top: 3px;
    padding-right: 60px;
}

#best_part .item .img .round{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* === best css end === */

/* === clean css start === */

#clean_part {
    padding-top: 60px;
    background: #fafafa;
}

#clean_part .title{
    text-align: center;
    margin-bottom: 70px;
}

#clean_part .title h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000;
}

#clean_part .title h3 span {
    color: #FFD700
}

#clean_part .item {
    padding-bottom: 60px;
}

#clean_part .item h2{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000;
}

#clean_part .item .img {
    position: relative;
}

#clean_part .item .img img {
    margin: 20px 0;
}

#clean_part .item .discount {
    display: inline-block;
    background: rgba(255, 215, 0,.7);
    padding: 14px 20px;
    position: absolute;
    bottom: 30px;
    right: 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#clean_part .item .discount p {
    margin-bottom:0 ;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#clean_part .item p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
}

#clean_part .button {
    text-align: center;
    padding-bottom: 50px;
}

#clean_part .button a {
    display: inline-block;
    padding: 20px 30px;
    background: #FFD700;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}
























































/* === clean css end === */